html {
    font-size: 1rem
}

body,
html {
    height: 100%
}

body a,
body div,
body p {
    color: #494440;
}

body a:hover {
    color: #cdcdcd
}

.title {
    font-size: 2rem;
    font-weight: 100
}

.subtitle {
    font-size: 1.2rem
}

.header .logo {
    height: 3.5rem;
    width: 3.5rem
}

.header .title {
    font-size: 1.5rem;
    line-height: 1.8rem
}

.header .font-increase-button,
.nav .font-increase-button {
    font-size: .8rem
}

.footer,
.header,
.nav {
    flex: 0 0 auto
}

.main {
    flex: 1 0 auto
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffffbf;
}

.nav-item > a:focus {
    border: 2px rgb(28, 190, 240) solid;
}

.font-increase-button,
.font-decrease-button {
    border-style: none;
    color: #ffffffbf;
}

#font-increase-button {
    font-size: large;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px #f8f9fa solid;
}

#font-decrease-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px #f8f9fa solid;

}

#font-increase-button-1,
#font-decrease-button-1 {
    border: 2px solid white;
    margin-bottom: 5px;
}

.skip-to-content {
    text-align: left;
}

.skip-to-content a {
    position: fixed;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-to-content a:focus, .skip-to-content a:active {
    position: static;
}

h2 a:hover,p a:hover {
  color:#6c757d;
}
